.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* background: var(--white); */
    /* border-top: 1px solid var(--gray-light); */
    padding: 10px;
    margin-top: 35px;
}

.logos .logoWesafer{
    margin-right: 10px;
}

.container p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    color: var(--blue);
    font-weight: bold;
}

a{
    text-decoration: none;
    color: var(--blue);
}

@media (max-width: 480px) {
    .container {
        padding: 15px; 
        margin-top: 100px; 
    }
}
