<main class="everyone-home">
    <div class="Register">
        <p>Cadastrar Usuário</p>

        <form class="Form">

            <input type="text" id="FirstName" name="FirstName" placeholder="Nome">

            <input type="text" id="LastName" name="LastName" placeholder="Sobrenome">

            <input type="email" id="Email" name="Email" placeholder="E-mail">

            <input type="password" id="Password" name="Password" placeholder="Senha">

        

            <!-- <div class="Sector">
                <select name="opcao" id="opcao" class="custom-select" title="Setor de Atuação">
                    <option selected>Setor</option>
                    <option value="industria">Indústria</option>
                    <option value="varejo">Varejo</option>
                    <option value="saude">Saúde</option>
                    <option value="construcao">Construção Civil</option>
                    <option value="energia">Energia</option>
                    <option value="publico">Setor Público</option>
                    <option value="logistica">Logística</option>
                    <option value="educacao">Educação</option>
                    <option value="financeiro">Financeiro</option>
                    <option value="agronegocio">Agronegócio</option>
                </select>
            </div>
            <input type="date" name="date" id="date" title="Data de Entrada"> -->
        
        </form>

        <button class="RegisterButton" (click)="submit()"><strong>Cadastrar</strong></button>
    </div>

    <!-- <div class="Filtros">    
        <p>Filtrar por</p>
        <div class="Filtro-Recentes">
            <select name="opcaoFiltro-Recentes" id="opcaoFiltro-Recentes" class="custom-select-Filtro-Recentes">
                <option selected>Mais Recentes</option>
                <option value="industria">Ativos</option>
                <option value="varejo">Desativados</option>
            </select>
        </div>

        <div class="Filtro-setor">
            <select name="opcaoFiltro-Setor" id="opcaoFiltro-Setor" class="custom-select-Filtro-Setor">
                <option selected>Setor</option>
                    <option value="industria">Indústria</option>
                    <option value="varejo">Varejo</option>
                    <option value="saude">Saúde</option>
                    <option value="construcao">Construção Civil</option>
                    <option value="energia">Energia</option>
                    <option value="publico">Setor Público</option>
                    <option value="logistica">Logística</option>
                    <option value="educacao">Educação</option>
                    <option value="financeiro">Financeiro</option>
                    <option value="agronegocio">Agronegócio</option>
            </select>
        </div>
    </div> -->
</main>

<!-- 
@if(mostarTitulo){
    <h1>TITULO</h1>
    } @else {
        <h1>FALSO</h1>
        } -->