<main class="everyone-home">
    <div class="Register">
        <p>Cadastrar Usuário</p>

        <!-- adicionar ngModel! -->
        <form class="Form">
            <input type="text" id="FirstName" name="FirstName" placeholder="Nome">
            <input type="text" id="LastName" name="LastName" placeholder="Sobrenome">
            <input type="email" id="Email" name="Email" placeholder="E-mail">
            <input type="password" id="Password" name="Password" placeholder="Senha">
        </form>

        <button class="RegisterButton" (click)="submit()"><strong>Cadastrar</strong></button>
    </div>
</main>